<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8" th:remove="tag">
</head>
<body>
<div layout:fragment="content">
    <h1 class="page-header">書籍編集</h1>
    <form th:action="@{/books/edit}" th:object="${bookForm}" method="post">
        <ul th:if="${messages != null}" class="alert alert-danger" role="alert">
            <li th:each="message : ${messages}">
                <span th:text="${message}"></span>
            </li>
        </ul>
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="title">タイトル</label>
            <input class="form-control" type="text" th:field="*{title}" th:value="${title}">
        </div>
        <div class="form-group">
            <label for="price">価格</label>
            <input class="form-control" type="text" th:field="*{price}" th:value="${price}">
        </div>
        <div class="form-group">
            <label for="author">著者</label>
            <select class="form-control" th:field="*{authorId}">
                <option th:each="auth : ${bookEditPresenter.authors}"
                        th:value="${auth.id.asInt()}"
                        th:text="${auth.name}"
                        th:selected="${auth.id.asInt() == authorId}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="category">カテゴリ</label>
            <select class="form-control" th:field="*{categoryId}">
                <option th:each="cate : ${bookEditPresenter.categories}"
                        th:value="${cate.id.asInt()}"
                        th:text="${cate.name}"
                        th:selected="|${cate.id.asInt() == categoryId}|"></option>
            </select>
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="更新">
        </div>
    </form>

</div>
</body>
</html>