* {
    margin : 0;
    padding : 0;
}
.head {
    text-align : center;
    width : 100%;
    position : relative;
    margin : auto;
    padding : 0 60px;
}
.header-logo {
    width : 20%;
}

.narita-logo2 {
    width : 12em;
    height : 6em;
    float : left;
    margin :0 auto;
}

.head-ul1 > li {
    list-style : none;
    margin-left : 1.5em;
    float :left;
}
.head-ul2 > li {
    list-style : none;
    margin-left : 1.5em;
    float : left;
}
li.wheelchair::before {
    display: inline-block;
    height :13px;
    width :14px;
    background-image : url('img/wheelchair.png');
    content : ''; /*何も入れない*/
    background-size: contain;
    vertical-align: middle;
}

.content {
    text-align : center;
    margin : 20px;
    width : 1000;
    clear :both;
}
.content .content-left {
    float : left;
    width : 330px
    height: 72px;
}
.content .content-center {
    float : left;
    width ; 330px
    height: 72px;
}

.content .content-right {
    float : left;
    width ; 330px;
    height: 72px;
}

.foot {
    text-align : center;
    clear :both;
}
